@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #e3e0de;
    color: #161616;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #161616;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}
.menu-btn:hover{
    color: #517bb1;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #161616;
    color: #e3e0de;
    font-size: 15px;
    margin-top: 20px;
}
.btn:hover{
    opacity: 0.9;
    color: #517bb1;
}

/* Nav */
.main-nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 20px 0;
    font-size: 15px;
    background-color: #fcfbfc;
    opacity: 0.9;
}
.main-nav .logo {
    width: 110px;
    margin: 0 20% 0 0px;
}

.main-nav ul {
    display: flex;
    margin-left: 0;
}

.main-nav ul li {
    padding: 0 30px;
}
.main-nav ul li a{
    padding-bottom: 2px;
    font-weight: bold;
}
.main-nav ul li a:hover{
    border-bottom: 2px solid #517bb1;
}

/*Blank*/
.blank{
    padding:40px;
}
/* Banner */
.banner {
    width: 100%;
    height: 400px;
    background: url('/images/banner.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding: 0 200px 20px 200px;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
}

/* Home cards */
.home-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.home-cards div{
    background: #fcfbfc;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.home-cards img{
    width: 100%;
}
.home-cards h3, .home-cards p, .home-cards a{
    padding: 10px;
}


.home-cards a{
    display: grid;
    justify-content: flex;
    align-items: flex-end;
    padding-top: 10px;
    color: #517bb1;
    text-transform: uppercase;
    font-weight: bold;
}

.home-cards a:hover i {
    margin-left: 10px;
}


footer{
    background-color: #5b5a59;
    color: #e3e0de;
    padding: 20px 0;
    margin-top: 30px;
}

footer h3{
    color: #e3e0de;
}
.footer a, .footer p{
    color: #afaaa7;
}
.footer a:hover {
    color: #e3e0de;
}
.footer li{
    line-height: 2;
}
.footer-inner{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}
.footer-end{
    margin: auto;
    max-width: 1200px;
    padding: 20px 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #888583
}
.footer-end a {
    color: #888583;
    margin-right: 20px;
}
.footer-end p {
    margin-top: 20px;
}

@media (max-width: 1050px) {
    .home-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .main-nav ul li {
        padding: 0 20px;
    }
    .banner {
        padding: 0 100px 20px 100px;
    }
    .footer .footer-inner{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .home-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .main-nav ul li {
        padding: 0 20px;
    }
    .banner {
        padding: 0 100px 20px 100px;
    }
    .footer .footer-inner{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .menu-btn{
        display: block;
    }
    .home-cards {
        grid-template-columns: 1fr;
    }
    .main-nav ul li {
        display: none;
    }
    .main-nav .logo {
        margin: 0;
    }
    .footer li{
        display: none;
    }
    footer{
        padding: 0
    }
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.97;
}

.modal-content {
    position: fixed;
    top: 59px;
    background-color: #e3e0de;
    padding: 20px;
    width: 100%;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
    line-height: 3;

}
.modal-content ul li{
    border-bottom: solid 2px;
    border-color: rgba(0, 0, 0, 0.041);
}
.modal-content ul li:last-child{
    border-bottom: 0;
}
.modal-content ul li a:hover{
    color: #517bb1;
}