/* Style the video: 100% width and height to cover the entire window */
*{
    margin: 0;
    padding: 0;
}
#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    object-fit: cover;
    background-color: rgb(51, 66, 17);
  }
  
  /* Add some content at the bottom of the video/page */

  section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
section div{
    position: relative;
    width: 50%;
    overflow: hidden;
    background-color: rgb(51, 66, 17);
}

section div:nth-child(1)
{
    position: relative;
    width: 50%;
    background-color: rgba(255, 192, 203, 0.274);
    overflow: hidden;
}
section div:nth-child(1) h2{
    -webkit-text-stroke: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: pink;
    left: 100%;

}
section div h2 {
    position: absolute;
    white-space:nowrap;
    font-size: 12em;
    line-height: 100vh;
    animation: animate 60s linear infinite;

}
video{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

@keyframes animate
{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

  h2{
    font-family: 'Bungee Inline', cursive;
    font-size: 80px;
    color: pink
}
/*



section div{
    position: relative;
    width: 50%;
    background: rgb(51, 66, 17);
    overflow: hidden;
}

section div:nth-child(1)
{
    position: relative;
    width: 50%;
    background: url(back.jpg);
    background-size: cover;
    overflow: hidden;
}
section div h2 {
    position: absolute;
    white-space:nowrap;
    font-size: 12em;
    line-height: 100vh;
    animation: animate 60s linear infinite;

}
video{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

@keyframes animate
{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}